* {    /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
}

.settings {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.input {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (max-width: 480px) {
  label {
    width: 70px;  
  }
}
input[type="number"] {
  text-align: center;
  width: 45px;
  padding: 3px;
}
.btn {
  width: auto;
  height: auto;
  padding: 5px 8px;
  border-width: thin;
  border-radius: 10px;
}

#game_board {
  display: grid;
  /* grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 100px); */
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;      /* affiche le doigt au survol de l'élément */
}
.card_content {
  height: 65px;
  padding: 2px 15px;
}
.card.flip .card_content, .card.flip .name_en, .card.flip .name_fr  {
  opacity: 1;
}
.card .card_content, .card .name_en, .card .name_fr {
  opacity: 0;
}
.card img { /* Pour éviter que l'image s'affiche lors d'un drag */
  -webkit-user-drag: none;
}.card.matched {
  border: solid medium green;
  cursor: default;
}
.name_fr, .name_en{
  width: 100%;
}
.name_fr{
  font-style: italic;
  font-size: smaller;
}

