* {    /* RESET */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;}

#game_board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(6, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
}

.card {
  background-color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;      /* affiche le doigt au survol de l'élément */
}
.card_content {
  width: 60px;
  padding: 2px;
}
.card .card_content {
  opacity: 0;
}
